body > div {
    max-width: 1200px;
}

body > header h1 > a, body > header nav a {
    text-decoration: none;
    color: #f8f9fa !important;
}

main section ul li a {
    text-decoration: none;
    color: #152a23 !important;
}

h1 > a:hover, aside a:hover, main > section > ul > li > a:hover, h6 a:hover {
    color: green !important;
}

main section > section ul > li {
    box-sizing: border-box !important;
}

main section article footer form li input[type="submit"]:hover, main > div > section > div > ul > li > a:hover {
    color: white !important;
}

img[src$=".svg"] {
    filter: invert(100%);
}

main article img:first-of-type {
    max-width: 120px;
}

main article header img:first-of-type {
    max-width: 75%;
}

aside img:first-of-type {
    max-width: 80px;
}

aside p {
    font-size: small;
}

aside a {
    text-decoration: none;
    color: #152a23;
}

aside p:nth-child(2) > a {
    font-size: medium;
    font-weight: bold;
}

h6 > a {
    text-decoration: none;
    color: #152a23 !important;
}

.btn-outline-secondary {
    color: #152a23;
    border-color: #345a5e;
}

.btn-danger {
    color: white !important;
}