header > h1 > a, nav a {
    text-decoration: none;
    color: #f8f9fa !important;
}

header > h1 > a:hover, aside a:hover, section a:hover {
    color: green !important;
}

main section > section ul > li {
    box-sizing: border-box !important;
}

img[src$=".svg"] {
    filter: invert(100%);
}

main article img:first-of-type {
    max-width: 120px;
}

aside img:first-of-type {
    max-width: 80px;
}

aside p {
    font-size: small;
}

aside a {
    text-decoration: none;
    color: black;
}

aside p:nth-child(2) > a {
    font-size: medium;
    font-weight: bold;
}

label[for="sitesearch"], label[for="billing"] {
    display: none;
}
